:root{
    --BigFontSize:5.7em;
    --SmallFontSize:4em;
}
div.itemContainer{
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 5%;
    opacity: 0;
    width: 500px;
    height: 300px;
    transform: rotate(-10deg) skewX(-20deg);
    overflow: hidden;
}

div.itemContainer a{
    font-family: Helvetica, sans-serif,Arial;
    box-sizing: border-box;
    font-size:var(--SmallFontSize,2.7em);
    font-weight: 500;
    line-height:30px;
    padding:35px;
    position:absolute;
    left:0;
    right:0;
    transform:skewX(20deg);
    letter-spacing:-2.5px;
    color:black;
    text-align:center;
    transition-property:top opacity color left;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
    opacity:.2;
}
@media(min-width:2000px){
    div.itemContainer{
        top: 35%;
        left: 33px;
        width: 90%;
    }
    :root {
        --BigFontSize: 8.7em; 
    }
}
@keyframes glowing{
    0%{transform:scale(1) skewX(20deg); opacity:1;}
    100%{transform:scale(1.02) skewX(20deg); opacity:.9;}
}
.itemContainer a:hover{
    color:rgba(0,0,0,.8);
}
div.imgContainer img{
    display:inline-block;
    cursor:pointer;
    width: 100%;
}
body::-webkit-scrollbar{
    display:none;
}
div.imgContainer{
    z-index:1;
    opacity:1;
    width:700px;
    height:300px;
    overflow:hidden;
    position:absolute;
    transition:.7s ease-in-out;
    transition-property:opacity,left;
    border:50px solid;
    border-top:0;
    border-bottom:0;
}